body{
  margin: 0;
  background-color: rgb(49, 51, 58);
  font-family:sans-serif; 
}
.game{
  max-width: calc(3*100px);
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  background-color: rgb(105, 67, 73)
}

.status{
  font-size: 15px;
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;

}
.reset-button{
  font-family:'Courier New', Courier, monospace;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #e4dfdf;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.reset-button:hover{
  background-color: #ad7373;
}

.board{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 100px); */
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.cell{
  width: 100px;
  height: 100px;
  font-size: 36px;
  border: 2px solid #cccccc;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  ;
}
.cell:hover{
  background-color: #ad7373;
}